<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <wicket:head>
        <script src="./js/jquery.lazyload.js" type="text/javascript"></script>
    </wicket:head>
</head>
<body>
    <wicket:extend>
        <wicket:child />
        <script type="text/javascript">
            $("img.lazy").lazyload({
                effect : "fadeIn"
            });
        </script>
    </wicket:extend>
</body>
</html>