* {
    position: relative;
    font-size: 1.0em;
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
html,body,a,div,img {
    border: none;
    padding: 0px;
}
input, select, textarea, option {
    color: #000000;
}
html {
    overflow-y: hidden;
}
body {
    overflow-y: auto;
}
table {
    background-color: white;
    display: inline;
}
form {
    display: inline;
    position: relative;
    padding: 7px;
    width: 400px;
}
#shopBackground{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div#title {
    width: 100%;
}
div#main {
    display: none;
    position:relative;
    height: auto;
    /* These values will be reset by jQuery */
    top: 10px;
    z-index:1;
    overflow-y: hidden;
}
div#menu {
    text-align: center;
}
div#content {
    z-index: 1;
    position: relative;
}
div#content > div#upperNavigator,
div#content > div#lowerNavigator{
    width: 100%;
}
div#content > div#lowerNavigator{
    width: 100%;
}
div#content .productItem {
    position: relative;
    width:190px;
    height:231px;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 34px;
    padding-right: 34px;
    background-image: url('/img/productItem.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
div#content .productItem span#containerSpan {
    height: 76%;
    width: 100%;
}
div#content .productItem span#productItemName,
div#content .productItem span#productItemPrice {
    position: relative;
    color: white;
    font-size: 15px;
    width: 100%;
    top: 10px;
}
div#content #productUpperRow {
    position: relative;
}
div#content #productUpperRow img,
div#content #productLowerRow img {
    position: relative;
    padding-top: 3px;
    max-height: 100%;
    max-width: 97%;
}
div#bannerPanel {
    position: absolute;
    bottom: 40px;
    width: 58%;
    left: 22%;
}
div#newProduct {
    position: relative;
    padding: 10px;
    border: 1px solid black;
}
input#newImageUrl {
    width: 99%;
}
input[type=submit] {
    display: block;
    width: 98%;
}
#main {
    width: 800px;
}
#newProduct form {
}
#title {
}
#left, #right {
    width: 380px;
    overflow: hidden;
}
#newImageDiv {
    display: block;
    width: 98%;
}
#middle {
    position: relative;
    width: 800px;
}
#left > div {
    width: 380px;
    position: relative;
    display: inline-table;
}
#right > div {
    width: 400px;
    position: relative;
    display: inline-table;
}
#left > div > * {
    float: right;
}
#right > div > * {
    float: right;
}
#left > div > label {
    float: left;
}
#right > div > label {
    float: left;
}
.wicket-mfu-container > div {
    width: 100%;
}
#productHeader {
    width: 100%;
}
#productHeader > div {
    float: left;
    width: 12.5%;
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
#productList {
    width: 100%;
    overflow: hidden;
}
#productList > div {
    width: 12.5%;
    position: relative;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#productList > div > a {
    top: 0;
    left: 7px;
}
#productList > div > select {
    width: 100%;
}

/*******************************************************************************/
/*                                                                             */
/*                       PRODUCTS PAGE SPECIFIC STYLING                        */
/*                                                                             */
/*******************************************************************************/

#infoPanel > div {
    width: 100%;
    float: left;
}

#imgContainer > img {
    max-width: 100%;
    max-height: 100%;
}