form#contactForm {
    background-color: white;
    position: relative;
    float: left;
    padding: 7px;
    width: 99%;
    display: inline-block;
    border: 1px solid black;
}

form#contactForm > div {
    width: 1000px;
    padding: 10px;
}

form#contactForm > div > label {
    float: left;
}

form#contactForm > div > textarea {
    float: right;
}

input[type=submit] {
    display: block;
    float: left;
    width: 100%;
}