#selectedProduct {
    max-width: 70%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
#selectedProductPrice {
    float: right;
}
#titleContainer {
    padding-left: 45px;
}
#orderPanel {
    width: 734px;
   margin: auto;
    position: relative;
}
#positioningContainer {
    padding-top: 45px;
    padding-bottom: 45px;
}
#orderItemRepeatContainer {
    display: block;
    width: 88%;
    overflow: hidden;
    margin-left: 45px;
}
.scroll-pane
{
    width: 100%;
    overflow: auto;
}
.jspVerticalBar {
    width: 12px;
}
#orderItemRepeatingView {
    display: block;
    margin: 15px;
    padding: 10px;
    background-color: rgba(1, 1, 1, 0.1);
    border-radius: 5px;
}
#orderItemRepeatingView span {
    float: left;
    word-wrap: break-word;
}
#deleteContainer {
    margin-top: 16px;
    margin-right: 10px;
}
#deleteContainer a {
    color: black;
    font-size: 1.5em;
}
#imgContainer {
    display: block;
    width: 15%;
}
#imgContainer img {
    max-width: 100%;
    max-height: 100%;
}
#detailContainer {
    font-size: 12px;
    max-width: 80%;
}
#productName {
    width: 27%;
    float: left;
}
#productSize {
    width: 15%;
    float: left;
    margin-top: 1px;
    font-size: 30px;
}
#productAmountContainer {
    width: 23%;
    float: left;
}
#productAmountContainer input {
    width: 35px;
    text-align: center;
}
#productAmountContainer a {
    padding-left: 5px;
}
span#productPriceContainer {
    width: 35%;
    float: right;
    text-align: right;
}
#productUnitPrice {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
#productPriceContainer span {
    width: 100%;
    text-align: center;
}
#submitLinkContainer {
    text-align: center;
}
#sendMail {
    bottom: 0;
    width: 100%;
    display: block;
    position: absolute;
    font-size: 30px;
}
hr {
    width: 100%;
    display: block;
    float: left;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}