@font-face {
    font-family: 'LindenHillRegular';
    src: url('/font/LindenHill/linden_hill.eot');/* IE */
    src: url('../font/LindenHill/linden_hill.eot?#iefix') format('embedded-opentype'),
    local("Linden Hill Regular"),
    url('../font/LindenHill/linden_hill.woff') format('woff'), /* non-IE */
    url('../font/LindenHill/linden_hill.ttf') format('truetype'),
    url('../font/LindenHill/linden_hill.svg#linden_hillregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: 'MuseoSlab';
    src: url('/font/MuseoSlab/exljbris_-_museoslab-500.eot');/* IE */
    src: url('../font/MuseoSlab/exljbris_-_museoslab-500.eot?#iefix') format('embedded-opentype'),
    local("MuseoSlab-900"),
    local("Museo Slab 900 Regular"),
    url('../font/MuseoSlab/exljbris_-_museoslab-500.woff') format('woff'), /* non-IE */
    url('../font/MuseoSlab/exljbris_-_museoslab-500.ttf') format('truetype'),
    url('../font/MuseoSlab/exljbris_-_museoslab-500.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.LindenHillRegular {
    font-family: 'LindenHillRegular', verdana, helvetica, sans-serif;
}
.MuseoSlab {
    font-family: 'MuseoSlab', verdana, helvetica, sans-serif;
}
* {
    font-family: 'MuseoSlab', 'LindenHillRegular', Arial, sans-serif;
    font-size: 14px;
    color: seashell;
}
h1 {
    position: relative;
    text-align: center;
    margin: 20px;
}
html,body,a,div,img {
    border: none;
    padding: 0px;
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
}
body {
    max-width: 100%;
    background-image: url('../img/bokeh.jpg');
}

a {
    text-decoration: none;
}
a .clickable {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
div#main {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#background {
    position: fixed;
    content: ' ';
    width: 100%;
    height: 200px;
    bottom: 0px;
    left: 0;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(0, 0, 0, 1)));
    background: linear-gradient(top, transparent 0%,rgba(0, 0, 0, 1) 100%);
}

div#content {
    clear: both;
    position: relative;
    z-index: 1;
    left: 2px;
    margin: 0 auto;
    text-align: center;
}

div#container {
    position: relative;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

div#bannerPanel {
    width: 100%;
    position: relative;
    bottom: 0;
    z-index: 1;
}

div#bannerPanel a {
    position: relative;
    z-index: 999;
}

.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}
.feedbackPanel {
    text-align: center;
    list-style: none;
    list-style-position: inside;
}
.feedbackPanelERROR {
    color: red;
    font-weight: bold;
}
.feedbackPanelWARNING {
    color: orange;
    font-weight: bold;
}
.feedbackPanelINFO {
    color: yellow;
    font-weight: bold;
}