.letter {
    width: 90px;
    height: 110px;
    float: left;
    margin-top: -18px;
    margin-bottom: 0px;
    text-indent: -9000px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.A {
    background-image: url('../img/letters/A_shadow.png');
}
.\C1 {
    background-image: url('../img/letters/Á_shadow.png');
}
.B {
    background-image: url('../img/letters/B_shadow.png');
}
.C {
    background-image: url('../img/letters/C_shadow.png');
}
.D {
    background-image: url('../img/letters/D_shadow.png');
}
.E {
    background-image: url('../img/letters/E_shadow.png');
}
.\C9 {
    background-image: url('../img/letters/É_shadow.png');
}
.F {
    background-image: url('../img/letters/F_shadow.png');
}
.G {
    background-image: url('../img/letters/G_shadow.png');
}
.H {
    background-image: url('../img/letters/H_shadow.png');
}
.I {
    background-image: url('../img/letters/I_shadow.png');
}
.\CD {
    background-image: url('../img/letters/Í_shadow.png');
}
.J {
    background-image: url('../img/letters/J_shadow.png');
}
.K {
    background-image: url('../img/letters/K_shadow.png');
}
.L {
    background-image: url('../img/letters/L_shadow.png');
}
.M {
    background-image: url('../img/letters/M_shadow.png');
}
.N {
    background-image: url('../img/letters/N_shadow.png');
}
.O {
    background-image: url('../img/letters/O_shadow.png');
}
.\D3 {
    background-image: url('../img/letters/Ó_shadow.png');
}
.\D6 {
    background-image: url('../img/letters/Ö_shadow.png');
}
.\150 {
    background-image: url('../img/letters/Ő_shadow.png');
}
.P {
    background-image: url('../img/letters/P_shadow.png');
}
.Q {
    background-image: url('../img/letters/Q_shadow.png');
}
.R {
    background-image: url('../img/letters/R_shadow.png');
}
.S {
    background-image: url('../img/letters/S_shadow.png');
}
.T {
    background-image: url('../img/letters/T_shadow.png');
}
.U {
    background-image: url('../img/letters/U_shadow.png');
}
.\DA {
    background-image: url('../img/letters/Ú_shadow.png');
}
.\DC {
    background-image: url('../img/letters/Ü_shadow.png');
}
.\170 {
    background-image: url('../img/letters/Ű_shadow.png');
}
.V {
    background-image: url('../img/letters/V_shadow.png');
}
.W {
    background-image: url('../img/letters/W_shadow.png');
}
.X {
    background-image: url('../img/letters/X_shadow.png');
}
.Y {
    background-image: url('../img/letters/Y_shadow.png');
}
.Z {
    background-image: url('../img/letters/Z_shadow.png');
}