/* CSS Document */
body{
    margin:0;
    padding:0;
}

.header{
    padding:10px
}
.pagination2{
    text-align:left;
    background-color:#FF3300;
    float:none;
    padding:10px;
    padding-left:100px;
}
.pagination{
    background:#999999;
    text-align:left;
    background-color:GrayText;
    float:none;
    padding:10px;
    padding-left:100px;
}
.pagination1{
    text-align:left;
    background-color:darkred;
    float:none;
    padding:10px;
    padding-left:100px;
}
.pagination3{
    text-align:left;
    background-color:teal;
    float:none;
    padding:10px;
    padding-left:100px;
}
.pagination4{
    text-align: center;
    float: none;
    font-size: 15px;
}

span.button {
    background-color:transparent;
    background-image: url( '../img/btn_grey_right.png' );
    background-repeat:no-repeat ;
    background-position:top right;
    color: #fff;
    display:block; /*opera*/
    display:inline-block; /*ie*/
    display:-moz-inline-box; /*ff*/    /*font: bold 12px arial, sans-serif;*/
    font: normal 13px arial, sans-serif;
    height: 32px;
    margin-right: 0px;
    padding-right: 10px;
    text-decoration: none;
}

span.button span {
    background-color:transparent;
    background-image: url( '../img/btn_grey.png' );
    background-repeat:no-repeat ;
    display: inline-block;
    line-height: 21px;
    padding: 3px 0 8px 10px;
}

a.button {
    background-color:transparent;
    background-image: url( '../img/btn_right.png' );
    background-repeat:no-repeat ;
    background-position:top right;
    color: #fff;
		display:block; /*opera*/
		display:inline-block; /*ie*/
		display:-moz-inline-box; /*ff*/    /*font: bold 12px arial, sans-serif;*/
    font: normal 13px arial, sans-serif;
    height: 32px;
    margin-right: 0px;
    padding-right: 10px;
    text-decoration: none;
}

a.button span {
    background-color:transparent;
    background-image: url( '../img/btn.png' );
    background-repeat:no-repeat ;
    display: inline-block;
    line-height: 21px;
    padding: 3px 0 8px 10px;
}

a.button span img{
    margin-left:-5px;
    margin-top:-2px;
    padding-right:5px;
}
a.button:hover {
    background-image: url( '../img/btn_hover_right.png' );
    color: #fff;
    outline: none;
}

a.button:hover span {
    background-image:url( '../img/btn_hover.png');
}
a.orange {
    background-image: url( '../img/btn_right.png' );
		display:block; /*opera*/
		display:inline-block; /*ie*/
		display:-moz-inline-box; /*ff*/}
a.orange span {
    background-image: url( '../img/btn.png' );
}

a.orange:hover {
    background-image: url( '../img/btn_hover_right.png' );
}
a.orange:hover span {
    background-image: url( '../img/btn_hover.png' );
}

h1 {
	font: normal 310%/110% Garamond, Georgia, serif;
	letter-spacing: -2px;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0 0;
	margin: 0;
}
.credits {
	font: 130%/110% Garamond, Georgia, serif;
	text-align: center;
	color: #999;
	width: 300px;
	margin: .5em auto 1.5em;
	padding-top: 8px;
	border-top: 1px solid #ededed;
	letter-spacing: 2px;
}
.credits em {
	color: #999;
}
.credits a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}
.credits a:hover {
	text-decoration: underline;
}
 #Layer2 {
	position:absolute;
	left:64px;
	top:273px;
	width:861px;
	height:172px;
	z-index:2;
}
#Layer1 {
	position:absolute;
	left:190px;
	top:77px;
	width:596px;
	height:176px;
	z-index:1;
	margin:auto 25px;
}