hr {
    display: block;
    height: 1px;
}
#productDetail,
#productDetail form {
    height:100%;
}
#left,
#right {
    max-width: 47%;
    width: 47%;
    height: 100%;
    float: left;
}
#selectedProduct {
    color: white;
    max-width: 70%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
#selectedProductPrice {
    float: right;
}
#selectedImageSpan {
    border-color: rgb(192, 44, 44);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(192, 44, 44, 0.4);
    position: relative;
    float: left;
    width:386px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
}
#selectedImageSpan img {
    position: relative;
    max-height: 99%;
    max-width: 99%;
    top: 2px;
}
#selectedImageSpan + span > span > span {
    display: inline-block;
}
#imgContainer {
    border-color: rgb(192, 44, 44);
    border-width: 2px;
    border-style: solid;
    background-color: rgba(192, 44, 44, 0.4);
    position: relative;
    width: 95px;
    height: 90px;
    text-align: center;
    margin: 0px;
    overflow: hidden;
}
#imgContainer a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#imgContainer img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}
#infoPanel {
    position: relative;
    height: 30%;
    margin: 10px 40px;
}
#productDescription {
    overflow: auto;
    padding: 20px;
    background-color: rgba(240, 10, 10, 0.2);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, .1);
}
#productDescription > label {
    display: block;
    margin-bottom: 10px;
}
#sizeAnchors {
    text-align: center;
    bottom: 0;
}
#S, #M, #L, #XL, #XXL {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#570C0C', endColorstr='#C43A3A',GradientType=0 );
    background-image: linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -o-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -moz-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -webkit-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -ms-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.01, rgba(87,12,12, 0.5)),
        color-stop(0.51, rgba(143,23,14, 0.4)),
        color-stop(0.76, rgba(196,58,58, 0.3))
    );
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    padding: 8px 18px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
}
#S.selected,
#M.selected,
#L.selected,
#XL.selected,
#XXL.selected {
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}
#submitContainer {
    max-width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}
#submitContainer a {
    color: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#570C0C', endColorstr='#C43A3A',GradientType=0 );
    background-image: linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -o-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -moz-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -webkit-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -ms-linear-gradient(bottom, rgba(87,12,12, 0.5) 1%, rgba(143,23,14, 0.4) 51%, rgba(196,58,58, 0.3) 76%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.01, rgba(87,12,12, 0.5)),
    color-stop(0.51, rgba(143,23,14, 0.4)),
    color-stop(0.76, rgba(196,58,58, 0.3))
    );
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    padding: 8px 18px;
    margin-right: 15px;
    margin-bottom: 5px;
    border-radius: 4px;
}