body {
    behavior: url("/htc/csshover3.htc");
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
html,body,a,div,img {
    border: none;
    padding: 0px;
}
#shopBackground{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
div#main {
    display: none;
    position:relative;
    width: 100%;
    margin: auto;
    text-align: center;
}
img#contentBackground {
    z-index: 1;
    position: relative;
    height:941px;
    top: 10px;
}
div#content {
    height: 100%;
}
div#content div#upperNavigator,
div#content div#lowerNavigator{
    display: block;
    position: relative;
    width: 100%;
    float: left;
    margin: auto;
}
div#content div#lowerNavigator{
    float: left;
}
div#content .productItem {
    position: relative;
    float: left;
    width:190px;
    height:231px;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 34px;
    padding-right: 34px;
    background-image: url('/img/productItem.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
div#content .productItem span#containerSpan {
    height: 76%;
    float: left;
    width: 100%;
}
div#content .productItem span#productItemName,
div#content .productItem span#productItemPrice {
    position: relative;
    float: left;
    color: white;
    font-size: 15px;
    width: 100%;
    top: 10px;
}
div#content #productUpperRow {
    position: relative;
}
div#content #productUpperRow img,
div#content #productLowerRow img {
    position: relative;
    padding-top: 3px;
    max-height: 100%;
    max-width: 97%;
}
div#bannerPanel {
    width: 85%;
    margin: auto;
}