div#menuContainer {
    width: 1037px;
    float: left;
}
div#headerImage {
    background-image: url("/img/menuHeader.png");
    width: 826px;
    height: 150px;
    position: relative;
    margin: auto;
}
div#headerCat {
    background-image: url("/img/catHead2.png");
    width: 241px;
    height: 180px;
    position: relative;
    margin: auto;
    bottom: 29px;
}
div#headerBackground {
    background-color: #be1e2d;
    width: 1037px;
    height: 20px;
    position: relative;
    float: left;
    margin-top: 10px;
}
div#header {
    z-index: 2;
    position: relative;
}
#menu{
    z-index: 3;
    position: absolute;
    width:100%;
    line-height:normal;
    margin-bottom: -4px;
    font-size: 15px;
}
#menu li :hover {
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff;
    filter: glow(color=white,strength=5), alpha(opacity=100);
}
#menuLeft, #menuRight {
    margin:0;
    list-style:none;
    padding: 0px;
}
#menuLeft li, #menuRight li {
    text-align: center;
    overflow: hidden;
}
#menuLeft {
    max-width: 82%;
    float:left;
    left: 0;
}
#menuRight {
    max-width: 18%;
    float:right;
    right: 0;
}
#menuLeft li {
    padding-right: 8px;
    float: left;
}
#menuRight li {
    color: white;
    padding-left: 8px;
    float: right;
    width: 100%;
}
#menuLeft li a {

}
#menuRight li a {
    padding-right: 10px;
    float: left;
    display: block;
}

#menuRight li span {
    color: white;
    display: block;
    float: left;
}