div#padding {
    height: 40px;
    width: 100%;
    margin: auto;
    text-align: right;
}
div#padding > img {
    top: 2px;
    right: 2px;
    position: relative;
}
div#headerBackground {
    height: 40px;
    position: relative;
    margin: auto;
}
div#header {
    z-index: 2;
    position: relative;
    margin: auto;
    width: 100%;
    height: 40px;
}
#menuContainer {
    margin: auto;
    position: relative;
    top: 1em;
    margin-bottom: 40px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, .1);
}
#menu {
    text-align: right;
    z-index: 3;
    line-height:normal;
    margin-bottom: -4px;
}
#menu a {
    height: 20px;
}
#menua:hover {
    display: inline-block;
    position: relative;
    padding-top: 40px;
}
#menu li {
    height: 20px;
    padding: 10px 4px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    border: solid 0.5px rgba(137,130,48,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.2);
}
#menu li:hover {
    position: relative;
    height: 60px;
    bottom: 0px;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #fff;
}
#menu li:hover span {
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
#menu li:hover span {
    position: relative;
    top: 40px;
}
#menu a {
    text-transform: uppercase;
}
#menuLeft, #menuRight {
    display: inline;
    margin:0;
    list-style:none;
    padding: 0px;
    text-align: right;
    float: none;
}
#menuLeft li, #menuRight li {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin-top: -1px;
}
#menuLeft {
    margin: auto;
    max-width: 80%;
}
#menuRight {
    margin: auto;
    max-width: 20%;
}
#menuLeft li {
    margin-right: 1px;
}