/*
	Transparent Slider jQuery plugin CSS styles
*/

.ts-title {
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    word-spacing: -0.1em;
    vertical-align: baseline;
}

.ts-title:first-line {
    font-size: 3.1em;
    text-shadow: 0 0 0.4em rgba(200, 200, 200, 1), 0 0 0.4em rgba(200, 200, 200, 1);
}

.ts-slideshow {
    display:none;
    padding-left: 0px;
    position: relative;
    overflow: hidden;
}

.ts-li {
    display: none;
    border: 1px;
    width: 100%;
    height: 100%;
}

/* Shadow Triangle */

a#prev,
a#next {
    display: inline-block;
    width: auto;
}

a#prev > span ,
a#next > span {
    display: inline-block;
}

/*span {
    display: inline-block;
    transform: scaleX(2.5);
    color: grey;
    text-shadow:
        0 2px 2px rgba(255,255,255,0.7),
        0 10px 4px rgba(0,0,0,0.5);
    font-size: 128px;
}
span:hover {
    transition: all 0.2s ease;
    transform: scaleX(2.5) translateY(4px);
    text-shadow:
        0 1px 1px rgba(0,0,0,0.5);
}*/

.transparent-slider {
    display: inline;
}

.imageWrapper {
    position: relative;
    display: block;
    max-width: 100%;
    max-height:100%;
    background-size: auto 100%;
    margin: auto;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.5);
}

.imageWrapper::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,.1)));
    background: linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,.1) 100%);
}

.imageWrapper::after {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 50px;
    bottom: -51px;
    left: 0;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    background: -moz-linear-gradient(top, rgba(55,100,155,.3) 0%, rgba(100,100,100,0) 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,100,155,.3)), color-stop(50%,rgba(55,100,155,0)));
    background: linear-gradient(top, rgba(55,100,155,.3) 0%,rgba(55,100,155,0) 50%);
}